<p-card class="p-shadow-24">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">A</div>
    <div class="p-col-12 p-md-6 p-lg-3">B</div>
    <div class="p-col-12 p-md-6 p-lg-3">C</div>
    <div class="p-col-12 p-md-6 p-lg-3">D</div>
  </div>

  <ng-template pTemplate="footer">
        <button pButton class="p-button-outlined p-button-info" icon="pi pi-arrow-left" label="Câu hỏi trước"></button>
        <button pButton class="p-button-outlined p-button-info" icon="pi pi-arrow-right" label="Câu kế tiếp"></button>


  </ng-template>
</p-card>

