<div [style]="style">
    <p-card class="p-shadow-0">
        <div class="p-d-flex">
            <div style="font-size: 1.5rem;"><b>404</b></div>
            <p-divider layout="vertical"></p-divider>
            <div  style="font-size: 1.5rem;">Không tìm thấy trang này</div>
        </div>
        <div class="p-d-flex p-jc-center p-mt-4">
            <a style="text-decoration: none;" [routerLink]="['/']">
                <i class="pi pi-arrow-left p-mr-2"></i>
                Quay về trang chính
            </a>
        </div>
    </p-card>
</div>
